
<h1>Welcome to the App!</h1>
<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/child"> Child </a>
  <a routerLink="/all"> All </a>
  <a routerLink="/images"> Images </a>
  <a routerLink="/news"> News </a>
  <a routerLink="/videos"> Videos </a>
</nav>
<!-- <app-child></app-child>  Assuming the component selector is 'app-child' -->
<!-- <app-all></app-all>
<app-images></app-images>
<app-news></app-news>
<app-videos></app-videos> -->
<!-- This is where the routed components will appear
<router-outlet></router-outlet> -->